version: "3.1"

services:
  ghost:
    image: ghost:latest
    container_name: ghost-blog
    ports:
      - 8080:2368
    environment:
      database__client: mysql
      database__connection__host: ${DB_HOST}
      database__connection__user: ${DB_USER}
      database__connection__password: ${DB_PASSWORD}
      database__connection__database: ghost
      url: http://${APP_URL}
      # https://www.reddit.com/r/Ghost/comments/1kqov3m/failed_to_send_email_please_check_your_site/
      security__staffDeviceVerification: false
    volumes:
      - ${CONFIG_DIR}/ghost/content:/var/lib/ghost/content
    restart: unless-stopped
